.card {
    width: 270px;
    display: inline-flex;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dashboard {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-left: 130px;
    padding-right: 20px;

}

.course-title {
    color: grey;
}

.course-term {
    color: lightgrey;
    font-size: small;
}

.btn {
    padding: 0px;
    font-size: 1rem;
}