.course-nav {
    width: 120px;
    padding: 0px;
    margin-left: 20px;
    /* margin-top: 5px; */
    width: 190px;
  }
  
  .course-nav li {
    list-style-type: none;
    /* margin-bottom: 15px; */
    padding-left: 10px;
  }
  
  .course-nav li a {
    color: red;
    text-decoration: none;
  }
  
ul.course-nav .list-group {
    border-radius: 0px;
    margin-left: 20px;
  }

  ul.course-nav .list-group-item {
    border: none;
    padding-top: 15px;
    padding-left: 5px;
  }
  
  ul.course-nav .list-group-item.active {
    color: black;
    background-color: white;
    border: none;
    border-left: 2px solid black;
    border-radius: 0px;
  }
  
  ul.course-nav a {
    color: red;
    text-decoration: none;
  }
  
  ul.course-nav .list-group-item.active a {
    color: black;
  }

  .kanbas-nav {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 85px;
    height: 100vh;
  }

  .kanbas-nav-width {
    width: 100%;
  }
  
  .kanbas-nav a {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-decoration: none;
    font-size: small;
    border: none;
    margin-bottom: 5px;
  }

  .kanbas-nav .active {
    background-color: white;
    color: red;
    border: none;
    display: block;
  }

  .kanbas-nav i {
    color: red;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    display: block;
    border: none;
    margin-top: 3px;
  }

  .kanbas-nav img {
    width: 5em;
    text-align: center;
  }